*.a
.svn/
.idea/
.gradle/
build/
.externalNativeBuild/
*.iml
local.properties
.vscode/

node_editor_framework/Temp
.vs/

*.pyc
__pycache__
TpfTool/work/
TpfTool/log/
TpfTool/output/
.DS_Store
TpfTool/app/**/*.apk
TpfToolExtra/app/**/*.apk
TpfUnityDemo/Builds/